body {
    background-color: bisque;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.heading {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
}

.centre {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

* {
    line-height: 30px;
}